.contact {
    background-color: #e7e7e7;
    height: 20px;
}
.tel-icon {
    left: 200px;
    top: 3px;
    height: 14px;
    width: 14px;
    position: absolute;
}
.num {
    left: 220px;
    top: 1px;
    color: black;
    position: absolute;
}
.menu {
    background-color: #d5b7bc;
    height: 100px;
    font-family: sans-serif;
    position: relative;
}
.logoheader {
    position: absolute;
    width: 140px;
    height: 180px;
    bottom: -60px;
    left: 40px;
    opacity: 100%;
    z-index: 1;
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font: 'Roboto';
}
body {
    background-color: #e7e7e7;
}

li{
    list-style-type: none;
}
.nav1sel {
    position: absolute;
    bottom: 12px;
    right: 700px;
    font-style: sans-serif;
    text-decoration: underline;
    text-decoration: bold;
    text-decoration-color: floralwhite;
    font-size: 18px;
}
.nav1 {
    position: absolute;
    bottom: 12px;
    right: 700px;
    font-style: sans-serif;
    text-decoration: none;
    text-decoration-color: floralwhite;
    font-size: 18px;
}
.nav1:hover {
    text-decoration: underline;
}
.nav2sel {
    position: absolute;
    bottom: 12px;
    right: 590px;
    font-style: sans-serif;
    text-decoration: underline;
    font-weight: bold;
    text-decoration-color: floralwhite;
    font-size: 18px;
}
.nav2 {
    position: absolute;
    bottom: 12px;
    right: 590px;
    font-style: sans-serif;
    text-decoration: none;
    text-decoration-color: floralwhite;
    font-size: 18px;
}
.nav2:hover {
    text-decoration: underline;
}
.nav3sel {
    position: absolute;
    bottom: 12px;
    right: 490px;
    font-style: sans-serif;
    text-decoration: underline;
    font-weight: bold;
    text-decoration-color: floralwhite;
    font-size: 18px;
}
.nav3 {
    position: absolute;
    bottom: 12px;
    right: 490px;
    font-style: sans-serif;
    text-decoration-color: floralwhite;
    font-size: 18px;
}
.nav3:hover {
    text-decoration: underline;
}
.nav4sel {
    position: absolute;
    bottom: 12px;
    right: 365px;
    font-style: sans-serif;
    text-decoration: underline;
    font-weight: bold;
    text-decoration-color: floralwhite;
    font-size: 18px;
}
.nav4 {
    position: absolute;
    bottom: 12px;
    right: 365px;
    font-style: sans-serif;
    text-decoration: none;
    text-decoration-color: floralwhite;
    font-size: 18px;
}
.nav4:hover {
    text-decoration: underline;
}
.nav5sel {
    position: absolute;
    bottom: 12px;
    right: 195px;
    font-style: sans-serif;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: floralwhite;
    font-size: 18px;
}
.nav5 {
    position: absolute;
    bottom: 12px;
    right: 195px;
    font-style: sans-serif;
    text-decoration: none;
    text-decoration-color: floralwhite;
    font-size: 18px;
}
.nav5:hover {
    text-decoration: underline;
}
.nav6sel {
    position: absolute;
    bottom: 12px;
    right: 75px;
    font-weight: bold;
    font-style: sans-serif;
    text-decoration: underline;
    text-decoration-color: floralwhite;
    font-size: 18px;
}
.nav6 {
    position: absolute;
    bottom: 12px;
    right: 75px;
    font-style: sans-serif;
    text-decoration: none;
    text-decoration-color: floralwhite;
    font-size: 18px;
}
.nav6:hover {
    text-decoration: underline;
}
a.lien:link, a.lien:visited, a.lien:active {
    text-decoration: none;
    font-style: sans-serif;
    color: #FFFFF9;
    
}
.main {
    background-color: #e7e7e7;
    max-height: auto;
    margin-bottom: 50px;
}
.mainTiny {
    margin-top: 50px;
    position: flex;
}

footer {
    background-color: black;
    height: 155px;
    bottom: 0px;
    margin-right:0px;
    margin-left:0px;
    position:relative;
}
.adresse {
    margin: auto;
    right: 300px;
    top: 15px;
    position: relative;
    width: 150px;
}
.adresse-scev {
    color: floralwhite;
    text-align: center;
}
.description {
    position:relative;
    margin : auto;
    bottom: 50px;
    width: 300px;
}
.description-text {
    color : floralwhite;
    text-align: center;
}
.social {
    margin: 0px;
    padding: 0px;
    left: 325px;
    position: relative;
    top: -60px;
    width: 200px;
    text-align: center;
    color: floralwhite;
}
.tinyMenu {
    background-color: #d5b7bc;
    height: 100px;
    font-family: sans-serif;
    position: relative;
}

/* Styles pour le bouton "Menu" */
#menuButton {
    display: none;
    background: none;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    float: right;
    right: 36.5px;
    bottom : -28px;
}

.tinyMenu #menuButton {
    display: block;
}

.tinyNav {
    display: none;
}

.tinyNav.show-menu {
    display: flex;
    width: auto;
    text-align: center;
    height: auto;
    overflow-x: auto;
    box-shadow: 0px 1px 2px #CCC;
    background-color: #d5b7bc;
    color: floralwhite;
    padding: 10px; 
    position: absolute;
    right: 5px;
    margin-top: 100px;
    z-index: 1;
}

/* Styles pour le bouton "Menu" au survol */
#menuButton:hover {
    text-decoration: underline;
}
.nav1selTiny {
    font-style: sans-serif;
    text-decoration: underline;
    text-decoration: bold;
    text-decoration-color: floralwhite;
    font-size: auto;
}
.nav1Tiny {
    font-style: sans-serif;
    text-decoration: none;
    text-decoration-color: floralwhite;
    font-size: auto;
}
.nav1Tiny:hover {
    text-decoration: underline;
}
.nav2selTiny {
    font-style: sans-serif;
    text-decoration: underline;
    font-weight: bold;
    text-decoration-color: floralwhite;
    font-size: auto;
}
.nav2Tiny {
    font-style: sans-serif;
    text-decoration: none;
    text-decoration-color: floralwhite;
    font-size: auto;
}
.nav2Tiny:hover {
    text-decoration: underline;
}
.nav3selTiny {
    font-style: sans-serif;
    text-decoration: underline;
    font-weight: bold;
    text-decoration-color: floralwhite;
    font-size: auto;
}
.nav3Tiny {
    font-style: sans-serif;
    text-decoration-color: floralwhite;
    font-size: auto;
}
.nav3Tiny:hover {
    text-decoration: underline;
}
.nav4selTiny {
    font-style: sans-serif;
    text-decoration: underline;
    font-weight: bold;
    text-decoration-color: floralwhite;
    font-size: auto;
}
.nav4Tiny {
    font-style: sans-serif;
    text-decoration: none;
    text-decoration-color: floralwhite;
    font-size: auto;
}
.nav4Tiny:hover {
    text-decoration: underline;
}
.nav5selTiny {
    font-style: sans-serif;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: floralwhite;
    font-size: auto;
}
.nav5Tiny {
    font-style: sans-serif;
    text-decoration: none;
    text-decoration-color: floralwhite;
    font-size: auto;
}
.nav5Tiny:hover {
    text-decoration: underline;
}
.nav6selTiny {
    font-weight: bold;
    font-style: sans-serif;
    text-decoration: underline;
    text-decoration-color: floralwhite;
    font-size: auto;
}
.nav6Tiny {
    font-style: sans-serif;
    text-decoration: none;
    text-decoration-color: floralwhite;
    font-size: auto;
}
.nav6Tiny:hover {
    text-decoration: underline;
}
.description-textHidden: {
    display: none;
    bottom: 0px;
}
.adresse-scevTiny {
    top: 10px;
    position: relative;
    left: 175px;
    width: 150px;
    text-align: center;
    align-content: center;
    color: floralwhite;
    z-index: 1;
}
.socialTiny {
    position: relative;
    top: -60px;
    right: -175px;
    width: 200px;
    text-align: center;
    color: floralwhite;
    align-content: center;
}
